body {
    background-color: #f2f3f6;
}
#container {
    padding: 50px;
}
button {
    display: block;
    margin: 0;
    padding: 10px 20px;
    background-color: #fff;
    border: 5px solid #1AAD19;
    border-radius: 5px;
    color: #1AAD19;
    font-size: 30px;
    text-transform: uppercase;
}